@model Booking
@{ ViewBag.Title = $"Appointment #{Model.Appointment.AppointmentId}";}

<div class="row">
    <h2>
        @ViewBag.Title Details
    </h2>
</div>

<div class="row verifyappoint-container">
    <br />
    @if (User.IsAdmin())
    {
        <p><strong>Organization</strong>: @Model.Appointment.Organization.Name</p>
    }
    <strong>Accreditation</strong>: @Model.Accreditation.Name <br />
    <strong>Student</strong>: @((await userManager.FindByIdAsync(Model.StudentId)).ToString()) <br />
    <strong>Date</strong>: @Model.Appointment.Date.ToString("MMMM d, yyyy") <br />
    <strong>From</strong>: @Model.Appointment.Start.ToString("h:mm tt") <br />
    <strong>To</strong>: @Model.Appointment.End.ToString("h:mm tt") <br />

</div>

<div class="row verifyappoint-container">
    <p>Retrieve details of another appointment by entering its tracking number. (Note: An appointment's tracking number is its ID.)</p>
    <br />

    <form asp-controller="Appointment" asp-action="VerifyAppointment" method="post">
        <label>Tracking Number:</label>
        <input type="text" name="trackingNumber" pattern="[0-9]+"
               title="A valid tracking number contains only numeric characters." required />
        <input type="submit" />
    </form>
</div>
