@model StudentUploadsViewModel
@{
    bool currentUser = userManager.GetUserId(User) == Model.Student.Id;
    ViewBag.Title = $"{Model.Student}'s Documents";
}

<div class="row">
    <h2>
        Documents of @Model.Student
    </h2>
</div>

@if (Model.Uploads != null && Model.Uploads.Any())
{
<div class="row">
    <table class="uploadslist">
        <thead>
            <tr class="uploadslist_tr">
                <th class="uploadslist_th">Name</th>
                <th class="uploadslist_th">Action(s)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var document in Model.Uploads)
            {
                <tr class="uploadslist_tr">
                    <td class="uploadslist_td">@document.Name</td>
                    @if (currentUser)
                    {
                        <td>
                            <a class="uploadslist_crud" asp-controller="Account"
                                asp-action="ViewStudentFile"
                                asp-route-uploadId="@document.UploadId">View</a> | <a class="uploadslist_crud" href="javascript:deleteDocument(@document.UploadId)">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="uploadslist_crud" asp-controller="Account"
                                asp-action="ViewStudentFile"
                                asp-route-uploadId="@document.UploadId">View</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
}
else
{
<div>
    <center>
        <span class="center">@(currentUser ? "You have not uploaded any document yet." : "This user has not uploaded any documents yet.")</span><br>
    </center>
</div>
}

@if (currentUser)
{
    <a class="btn_uploaddoc" asp-controller="Account" asp-action="UploadStudentFile">Upload a Document</a>
}
